################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BackendUndWeb/iOrder/Backend/bin/Debug/net461
/BackendUndWeb/iOrder/Backend/obj
/BackendUndWeb/iOrder/.vs/iOrder/v15
/BackendUndWeb/iOrder/Backend/bin/Debug/net471
/Desktop
*/**/Frontend/bin/
*/**/Frontend/obj/