################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Backend&Web/iOrder/.vs
/Backend&Web/iOrder/Backend/obj
/Backend&Web/iOrder/Backend/bin/Debug/net461
/Backend&Web/iOrder/packages
/BackendUndWeb/iOrder/Backend/bin/Debug/net461
/BackendUndWeb/iOrder/Backend/obj
/BackendUndWeb/iOrder/.vs/iOrder/v15
/BackendUndWeb/iOrder/Backend/bin/Debug/net471
/Desktop/.vs