@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            Orders
        </div>
        <div class="col-md-8">
            Order details
        </div>
    </div>
</div>