@model IEnumerable<Backend.Models.Business.Order>

@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">

            <div class="list-group" style="overflow-y: scroll;">
                @foreach (var order in Model)
                {
                    <a class="list-group-item orderItem" href="@order.Id">
                        @Html.DisplayFor(o => order.Date)
                    </a>
                }
            </div>

        </div>

        <div class="col-md-8">
            <div id="orderDetailsContainer"></div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $(".orderItem").click(function (e) {
            e.preventDefault();
            var orderId = $(this).attr("href");
            $("#orderDetailsContainer").load('@Url.Action("Partial","Orders")'+"/"+orderId);
        });
    });
</script> 